/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;

}

/********** Template CSS **********/
:root {
    --primary: #00b98e;
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #094d96;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

 

/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}


.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.bg-nav{
    background: #f8f8f8;
}
.nav-bar {
    position: relative;
    transition: .5s;
    z-index: 9999;
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0;
    z-index: 9999;
}

.navbar {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}


.nav-bar a{
    font-size: 18px !important;
}


@media (max-width: 991.98px) {
    .nav-bar {
        margin: 0;
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}
.navbar {
    box-shadow: none !important;
}

/* Header start*/

.header-img img{
    border-radius: 50%;
}

.logo{
    width: 50%;
    height: auto;
}

/* header search */
.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
      
    }

    .search input{

     height: 60px;
     text-indent: 25px;
     border: 2px solid #d6d4d4;


    }


    .search input:focus{

     box-shadow: none;
     border: 2px solid #1862a1;


    }

    .search .fa-search{

     position: absolute;
     top: 20px;
     left: 16px;

    }

    .search button{

     position: absolute;
     top: 5px;
     right: 5px;
     height: 50px;
     width: 110px;
     background: #00b98e;

    }
/* header search */



/*** Icon ***/
.icon {
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF !important;
    border-radius: 50px;
    border: 1px dashed var(--primary) !important;
}


/*** About ***/
.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: var(--primary);
    transform: skew(20deg);
    z-index: 1;
}


/*** Latest Article Start ***/






.card {
    background: #ffffff;
    margin-top: 1.5rem;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card:focus {
    -webkit-box-shadow: 0 0 0 3px #22223a, 0 0 0 4px #38beea;
    box-shadow: 0 0 0 3px #22223a, 0 0 0 5px #38beea;
    outline: none;
    border-radius: 2px;
    z-index: 1090;
    position: relative;
}

.card h2 {
    font-size: 1.25rem;
    margin: 0;
}

.card .card-content {
    padding: 2rem;
    min-height: 110px;
    padding-bottom: 1rem;
}

.card .card-content .kicker {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 0.16rem;
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card .card-content p {
    color: #adacb5;
}

.card .card-content p:last-of-type {
    margin-bottom: 0;
}

.card .card-image img {
    width: 100%;
    height: auto;
}

.card .card-footer {
    position: relative;
}

.card .card-footer .icon {
    position: absolute;
    right: 2rem;
    max-width: 20px;
    top: 50%;
    margin-top: -10px;
    transition: color 0.3s;
}

.card .card-footer a {
    background: transparent;
    border: none;
    color: #22223a;
    padding: 1.25rem 2rem;
    width: 100%;
    text-align: left;
    display: block;
    position: relative;
    top: 3px;
    font-weight: 400;
}



.card .card-footer a:focus {
    box-shadow: inset 0 0 0 2px #1862a1;
    outline: none;
    border-radius: 2px;
    z-index: 1090;
    position: relative;
}

.card .card-footer:after {
    content: "";
    width: 0%;
    height: 4px;
    background: #1862a1;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.card .card-footer:hover:after {
    width: 100%;
}

.card:hover .card-footer .icon,
.card:focus .card-footer .icon {
    color: #ff3e55;;
}

.card:hover .card-footer a,
.card:focus .card-footer a {
    opacity: 1;
    top: 0;
}

.card:hover .card-footer:after,
.card:focus .card-footer:after {
    width: 100%;
}

/*** Latest Article Ends***/

/*** UpComing starts***/
.UpComing-title {
    font-size: 24px;
}
/*** UpComing Ends***/




/* accordion starts */
.accordion-button{
    background: #f8f8f8;
}

.accordion-body{
    background: #FFFFFF;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #1862a1;
}
/* accordion starts */





/*** Team ***/
.team-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    transition: .5s;
}

.team-item .btn {
    color: var(--primary);
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
}

.team-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Testimonial ***/
.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(0, 185, 142, .3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}


/* Blog starts */


  
/* Blog Ends */

/*** Footer ***/
.footer{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px; 
    text-align: center;
    border-top: 1px solid rgba(256, 256, 256, .1);
   
}

.footer .copyright a {
    color: var(--light);
    
}

